@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #707070; }

body {
  background: #EFEFF4;
  display: flex;
  flex-direction: column;
  height: 100vh; }

a {
  transition: opacity 0.15s ease-in-out; }

a:hover {
  opacity: 0.8; }

.logo {
  margin: 22px auto 52px; }

#num-of-gr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 75px; }

input {
  box-sizing: border-box;
  padding: 18px;
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 300; }
  input::placeholder {
    opacity: 0.65; }

#add-person-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 55px; }
  #add-person-form input {
    min-width: 315px; }
  #add-person-form label {
    font-size: 20px;
    margin: 0 0 6px; }

.btn {
  background: #0081FB;
  font-size: 30px;
  color: white;
  margin: 24px auto 0;
  padding: 12.5px 0;
  min-width: 315px;
  text-align: center;
  border-radius: 8px; }

#people {
  align-self: center;
  max-width: 600px;
  margin: 0 0 40px; }
  #people div {
    max-width: 600px;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 5px 20px; }
    #people div .remove-btn {
      background: #FF5151;
      color: white;
      border-radius: 13px;
      font-size: 14px;
      min-width: 68px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center; }

#generate-groups {
  display: flex;
  flex-direction: column; }

#groups {
  list-style: none;
  margin: 55px auto 40px;
  max-width: 600px;
  min-width: 320px; }
  #groups li {
    height: auto;
    margin: 0 0 15px; }
    #groups li div {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #groups li div a {
        background: #00BFFB;
        width: 68px;
        height: 26px;
        border-radius: 13px;
        display: flex;
        align-items: center;
        justify-content: center; }
        #groups li div a img {
          transform: rotate(180deg);
          transition: transform 0.4s; }

.group-parts {
  margin: 0 0 60px;
  display: block;
  list-style: none; }
  .group-parts li {
    text-align: right;
    margin: 10px 20px 15px 0 !important;
    display: block;
    opacity: 0.65; }

.clicked {
  transform: rotate(360deg) !important; }

.visible {
  display: none; }
  .visible li {
    display: none; }

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: auto 20% auto;
    grid-template-rows: 20% 30% auto; }
  .logo {
    margin: 20px auto 0;
    grid-column-start: 2; }
  #add-person-form {
    justify-self: end;
    margin: 0 20px 0 0;
    grid-column-start: 1;
    grid-row-start: 2; }
  #num-of-gr {
    margin: 32px auto 0;
    align-self: start;
    grid-column-start: 2;
    grid-row-start: 2; }
  #generate-groups {
    margin: 10px 0 0 65px;
    justify-self: start;
    grid-column-start: 3;
    grid-row-start: 2; }
  #groups {
    justify-self: start;
    align-self: start;
    max-width: 500px;
    margin: 0 0 0 65px;
    grid-column-start: 3;
    grid-row-start: 3; }
  #people {
    justify-self: end;
    align-self: start;
    margin: 0 20px 0 0;
    grid-column-start: 1;
    grid-row-start: 3; } }
